<!DOCTYPE html>
<html>
        <head>
                <title>OpenHPC @@VERSION@@ Test Results</title>
                <link rel="stylesheet" type="text/css" href="/.files/styles.css"/>
        </head>
        <body><h1>OpenHPC @@VERSION@@ Test Results</h1>
<!-- END HEADER MARKER -->
