[Unit]
Description=Jenkins Agent
After=network.target

[Service]
WorkingDirectory=/root
EnvironmentFile=/etc/sysconfig/swarm-agent
ExecStart=/usr/bin/java -jar /var/cache/jenkins-agent/swarm-client.jar \
	-username $SWARM_USER -password $SWARM_PASSWORD \
	-deleteExistingClients \
	-jar-cache /var/cache/jenkins-agent/jar-cache \
	-name "{{ inventory_hostname_short }}" -executors 1 -disableClientsUniqueId \
	-url http://test.openhpc.community:8080/ -labels "{{ inventory_hostname_short }}"

[Install]
WantedBy=multi-user.target
