#!/bin/bash

set -e

RELEASE="{{ item.version }}"
ARCH="{{ item.arch }}"

REPOSITORIES="rhel-${RELEASE}-for-${ARCH}-baseos-rpms \
	rhel-${RELEASE}-for-${ARCH}-appstream-rpms \
	codeready-builder-for-rhel-${RELEASE}-${ARCH}-rpms"

cd /rhel/repositories

for repo in ${REPOSITORIES}; do
	dnf reposync -c "/rhel/etc/rhel-${RELEASE}-${ARCH}.conf" \
		--download-metadata \
		--delete \
		--repoid="${repo}" \
		-a "${ARCH}" -a noarch -n
	cd "${repo}"
	createrepo_c --update .
	cd ..
done
